// Variables
$primary-color : white;

html{
    background-color: white;
}

body{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;

    .display-container, .edit-container {
        box-sizing: border-box;
        border: 2px solid black;
        // width: auto;
        max-width: 30em;
        height: auto;
        margin: 1em;
        padding: 0.5em;
        text-align: start;
    }

    .chart {
        max-width: 80%;
    }

    .edit-container {
        background-color: lavender;
        display: flex;
        flex-direction: column;
        align-content: center;

        .add-form {
            display: flex;
            flex-direction: column;

            #income-error-message, #expenses-error-message  {
                color: red;
                display: none;
            }
        }
    }

    #edit-income {
        display: none;

        .custom-income-container {
            display: none;
            flex-direction: column;
        }
    }

    #edit-expenses {
        display: none;

        .custom-expenses-container {
            display: none;
            flex-direction: column;
        }
    }
}

/* ========================
        BREAKPOINTS
===========================*/
@media (min-width: 600px) {

}

@media (min-width: 800px) {

}

@media (min-width: 1000px) {

}